.page-header {
  color: white;
  margin-bottom: 0;
  .container {
    #imgCentral {
      width: 100vw;
    }
  }
}

#paquetes {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 4vw 0 4vw 0;
}

#suscribete {
  width: 100%;
  #tituloSuscribete {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 97, 37);
  }
  #imgsDiv {
    display: flex;
    .imgDiv {
      width: 25%;
      height: 20vw;
    }
  }
}
#navigation {
  ul {
    li {
      a {
        #carrito {
          width: 1.32vw;
          height: 1.32vw;
        }
      }
    }
  }
}

#carritoCompras {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5vw;
  #carro {
    .itemCarro {
      display: flex;
      border: 1px solid blue;
      #imgItemCarro {
        width: 5vw;
        height: 7.5vw;
        margin: 0 3vw 0 1vw;
      }
      #infoPaqueteCarrito {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        #tituloPaqueteComprado {
          font-size: 3vw;
          font-weight: bold;
          margin-top: 0.3vw;
          margin-bottom: 0.6vw;
        }
        #destinoPaquete {
          font-size: 1vw;
          margin-top: 0.3vw;
          margin-bottom: 0.3vw;
        }
        #duracionDiasPaquete {
          font-size: 1vw;
          margin-top: 0.3vw;
          margin-bottom: 0.3vw;
        }
        #duracionNochesPaquete {
          font-size: 1vw;
          margin-top: 0.3vw;
          margin-bottom: 0.3vw;
        }
        #comidaPaquete {
          font-size: 1vw;
          margin-top: 0.3vw;
          margin-bottom: 0.3vw;
        }
      }
      #catidadYPrecio {
        display: flex;
        justify-content: center;
        align-items: center;
        #botonReducir {
          width: 2vw;
          height: 2vw;
          display: block;
        }
        #cantidadPaquete {
          width: 2vw;
          height: 2vw;
          display: block;
        }
        #botonSumar {
          width: 2vw;
          height: 2vw;
          display: block;
        }
        #precioPaquete {
          font-size: 2vw;
          font-weight: bold;
          margin-left: 5vw;
        }
      }
    }
  }
}
